@import "tailwindcss";

@theme {
  --color-clifford: #da373d;
  --color-green-primary: #c2ff66;
  --color-gray-primary: #f7f7f8;
  --color-gray-secondary: #696977;
  --color-gray-3: #4d4d56;
  --color-dark-1: #18181b;
}

@font-face {
  font-family: helvetica;
  src: url(../fonts/HELN.TTF);
}
.helvetica {
  font-family: helvetica;
}
.bs-1 {
  box-shadow: 0px 96px 132px -50px #140d5d14;
}
